/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section, main {
  display: block; }

nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elememts, it make sure tha marging is added to out side of the box and paddigng is added to 
to the inside*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* --------------------------------------------BODY-------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* -------------------------------------------HEADER------------------------------------------*/
header {
  background-color: #424e64;
  color: #bbc2ca;
  padding: 1rem 2%; }
  header h1 {
    font-size: 2rem;
    font-weight: 300; }
  header h2 {
    font-size: 1.05rem;
    font-weight: 300; }

/* -------------------------------------------NAVIGATION------------------------------------------*/
nav {
  background-color: #bbc2ca;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
  nav ul li:last-child {
    border-right: none; }
  nav ul li a {
    display: block;
    text-align: center;
    font-weight: 700;
    padding: .5rem 0;
    color: #424e64;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease; }
  nav ul li.active a {
    background-color: #828f9d; }
  nav ul li a:hover {
    color: #bbc2ca;
    background-color: #424e64; }

/*CREATE PARTY FORM*/
h1, h2, h3 {
  margin: 0; }

.belt {
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase; }

#menu-bar {
  background: crimson;
  color: #fff;
  padding: 10px; }

#menu-bar h1 {
  font-size: 24px;
  font-weight: normal;
  display: inline-block; }

#menu-bar ul {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0; }

#menu-bar li {
  float: right;
  margin-left: 20px; }

#menu-bar a {
  color: #fff; }

main {
  background: #bbc2ca;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px; }

.content {
  padding: 20px;
  overflow: hidden; }

.content button, textarea,
.content input[type="submit"] {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #777;
  border: 0;
  box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.1);
  font-size: 16px; }

textarea {
  width: 98%; }

.content button:nth-child(2) {
  float: right; }

.content ul {
  padding: 0;
  list-style-type: none;
  margin: 30px 0; }

.content li {
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
  color: #444;
  text-transform: capitalize; }

.content li span {
  float: right; }

.content li h3 {
  display: inline-block;
  font-weight: normal;
  font-size: 22px; }

.content input {
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0; }

.content input[type="submit"]:last-child {
  width: 150px;
  display: block;
  margin: 15px auto; }

.remove {
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px; }

img {
  margin: -12px 10px 0 0;
  float: left;
  width: 50px; }

.ramdon {
  text-align: left;
  margin-left: auto;
  margin-right: auto; }

/*********************************ANIMATION*******************************/
/*give animation to the view*/
/*The starting css styles for the enter animation*/
main.ng-enter {
  transition: 0.5s linear all;
  opacity: 0; }

/*The finishing css styles for the animation*/
main.ng-enter.ng-enter-active {
  opacity: 1; }

/*give animation went enter a new ninja*/
#ninja-list li.ng-enter {
  transition: 0.2s linear all;
  opacity: 0;
  transform: translateY(30px); }

#ninja-list li.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0); }

/*adds animation went delete*/
#ninja-list li.ng-leave {
  transition: 0.2s linear all;
  opacity: 1;
  transform: translatex(0); }

#ninja-list li.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(-100%); }

/*staguer animation to delete all the nijas at one*/
#ninja-list li.ng-leave-stagger {
  transition-delay: 0.2s;
  transition-duration: 0; }

/*created by me*/
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 2px solid red; }

input[disabled="disabled"] {
  opacity: 0.4;
  cursor: not-allowed !important; }

/*table*/
/* BASIC STYLINGS
============================================================================= */
/* form styling */
#form-container {
  background: #424e64;
  margin-bottom: 20px;
  border-radius: 5px; }

#form-container .page-header {
  background: #151515;
  margin: 0;
  padding: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  #form-container .page-header h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px; }

/* numbered buttons */
#status-buttons a {
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  text-align: center;
  text-transform: uppercase; }

#status-buttons a:hover {
  text-decoration: none; }

#status-buttons span {
  background: #080808;
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 30px;
  border-radius: 50%; }

/* active buttons */
#status-buttons a.active span {
  background: #00BC8C; }

#form-views h3 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px; }

/* ANIMATION STYLINGS
============================================================================= */
#signup-form {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  padding: 30px; }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave {
  position: absolute;
  left: 30px;
  right: 30px;
  transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease; }

/* enter animation */
#form-views.ng-enter {
  -webkit-animation: slideInRight 0.5s both ease;
  -moz-animation: slideInRight 0.5s both ease;
  animation: slideInRight 0.5s both ease; }

/* leave animation */
#form-views.ng-leave {
  -webkit-animation: slideOutLeft 0.5s both ease;
  -moz-animation: slideOutLeft 0.5s both ease;
  animation: slideOutLeft 0.5s both ease; }

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to {
    transform: translateX(-200%); } }

@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-200%); } }

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-200%); } }

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(200%); }
  to {
    transform: translateX(0); } }

@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(200%); }
  to {
    -moz-transform: translateX(0); } }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(200%); }
  to {
    -webkit-transform: translateX(0); } }

/* ---------- Clearfix Forces an Element no To collapse, put this class to any element that get out of it flow 
becuase of the use of float ------------*/
.clearfix::after {
  content: "";
  display: table;
  clear: both; }
